#Sample config for container
POP3_PASS=somepass #Password to use for the discourse user/pop3 account
DOMAIN=talk.vanhack.ca #Primary domain
DKIM_SELECTOR=default #DKIM Selector
SMTP_HOST=smarthost
SMTP_USER=example
SMTP_PASS=password
